<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>62504452255-igss1mhf4a11bvs6kclm2nuuf8psojsa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.62504452255-igss1mhf4a11bvs6kclm2nuuf8psojsa</string>
	<key>API_KEY</key>
	<string>AIzaSyCy_mt21rQlBrF0f1UQQeah5uiFuDkuwNw</string>
	<key>GCM_SENDER_ID</key>
	<string>62504452255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aero.uas.gtm</string>
	<key>PROJECT_ID</key>
	<string>uasgtm</string>
	<key>STORAGE_BUCKET</key>
	<string>uasgtm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62504452255:ios:52f9db30507b55d26fe2aa</string>
</dict>
</plist>